body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1625225233840-695456021cde?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YnVkZ2V0fGVufDB8fDB8fHww");
    

    color: white;

}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(57, 11, 11, 0.5);
    border-radius: 8px;
}

.balance {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input, .form select, .form button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.transactions ul {
    list-style-type: none;
    padding: 0;
}

.transactions li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.income {
    color: green;
}

.expense {
    color: red;
}
